---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.vue';
import CategoryGrid from '../components/CategoryGrid.vue';
import BestSeller from '../components/BestSeller.vue';
import PromoSection from '../components/PromoSection.vue';
import ArticleSection from '../components/ArticleSection.vue';
import "../styles/global.css";
import 'aos/dist/aos.css';
---

<html lang="id">
  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Pet Shop</title>
  </head>
  <body>
		<Layout>
			<Header />
			<HeroSection id="hero"/>
			<CategoryGrid id="category"/>
				<BestSeller id="shop"/>
				<PromoSection id="promo"/>
				<ArticleSection id="article" />
			<Footer />
		</Layout>
  </body>
</html>
