<footer class="bg-gray-100 py-[100px] mt-8" style="background-image: url('/src//assets/pattern.jpg'); background-repeat: repeat;">
  <div class="container mx-auto">
    <div class="container text-center text-sm text-gray-600">
      <p>© Bubble Pet Shop 2025</p>
      <p>Desa Bojong Gede, Kab. Bogor · +62812-1234-1234</p>
      <p>Petshop.bubble@gmail.com</p>
    </div>
  </div>
</footer>
